# Copiar a .env solo para una ejecución local.
PORT=3000
NODE_ENV=development
MONGODB_USERNAME="ariannesystems_db_user"
MONGODB_PASSWORD="TkOIrvtAjgYNOTdk"
MONGODB_URI=mongodb+srv://ariannesystems_db_user:TkOIrvtAjgYNOTdk@cluster0.zmuq6go.mongodb.net/reservas_salas_u7?appName=Cluster0


_id: 6ac8db14c97c207033d1e87b
_id: 6ac8f369511f0d70e74243c0