# Copiar a .env solo para una ejecución local.
PORT=3000
NODE_ENV=development
MONGODB_USERNAME="ariannesystems_db_user"
MONGODB_PASSWORD="TkOIrvtAjgYNOTdk"
MONGODB_URI=mongodb+srv://ariannesystems_db_user:TkOIrvtAjgYNOTdk@cluster0.zmuq6go.mongodb.net/reservas_salas_u7?appName=Cluster0